.ooops {
  text-align: center;
  margin-top: 60px;

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11rem;
  }

  img {
    width: 8rem;
    height: 11rem;
  }
}
