<!-- <div
  class="form-group"
  [formGroup]="group"
  [style.width.%]="config.size == 0 ? 100 : config.size">
  <label [attr.for]="config.name">{{ config.label }}<span style="color: red;">{{config.required ? '*' : ''}}</span></label>
  <select
    multiple
    class="form-control"
    [attr.id]="config.name"
    [ngClass]="{'is-invalid': isFieldValid(config.name)}"
    [formControlName]="config.name">
    <option value="">{{ config.placeholder }}</option>
    <option
      *ngFor="let option of config.options"
      [ngValue]="option.value">
      {{ option.title }}
    </option>
  </select>
  <div class="invalid-feedback">{{config.notes}}</div>
</div> -->

<div
  class="form-group"
  [formGroup]="group"
  [ngClass]="config.size > 0 ? 'col-md-'+config.fieldWidthGridNumber : ''">
  <label [attr.for]="config.name">{{ config.label }}<span style="color: red;">{{config.required ? '*' : ''}}</span></label>
  <angular2-multiselect
    [data]="config.options"
    [settings]="settings"
    class="form-control"
    [ngClass]="{'is-invalid': isFieldValid(config.name)}"
    [formControlName]="config.name">
    <c-badge>
      <ng-template let-item="item">
      <label style="margin: 0px;">{{item.title}}</label>
      </ng-template>
    </c-badge>
 </angular2-multiselect>
  <div class="invalid-feedback">{{config.notes}}</div>
</div>
